@charset "utf-8";
    /* CSS Document */

    @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Unbounded:wght@200..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #EAEAEA;
}

.botonera{
    display: flex;
    width: 1920px;
    padding: 36px 44px;
    align-items: center;
    gap: 700px;

    border-bottom: 5px solid #000;
}


.conjunto-botones{
    display: flex;
    align-items: center;
    gap: 50px;
}


.botones{
    display: flex;
   /* width: 156px;*/
    height: 58px;
    padding: 18px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 50px;
    border: 5px solid #000;
    background: #EAEAEA;
    box-shadow: -10px 10px 4px 0px rgba(0, 0, 0, 0.25);

    /*tipografía-de-botones-nav*/
    color: #000;
    font-family: "Maven Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*footer*/

.footer{
    display: flex;
    width: 1920px;
    height: 84px;
    padding: 10px 44px;
    align-items: center;
    gap: 397px;

    border-top: 5px solid #000;
}

.logos-footer{
    display: flex;
    align-items: center;
    gap: 30px;
}

.derechos-reservados{
    width: 785px;
    height: 24px;
    flex-shrink: 0;

    color: #000;
    font-family: "Maven Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/*index-inicio*/

#portada{
    display: flex;
    align-items: center;
    gap: 133px;
}

.presentacion{
    display: flex;
    width: 916px;
    height: 310px;
    justify-content: center;
    align-items: flex-start;
}




h1{
    font-family: "Unbounded", sans-serif;
    font-size: 120px;
    font-weight: 800px;
    line-height: normal;
}

h2{
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}