@charset "utf-8";
    /* CSS Document */

    @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Unbounded:wght@200..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.boton-enviar{
display: flex;
width: 318.281px;
height: 94.422px;
padding: 22px 72px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;

border-radius: 50px;
border: 5px solid #000;
background: #EAEAEA;
box-shadow: -20px 20px 4px 0px rgba(0, 0, 0, 0.25);


/*tipografia del boton*/
color: #000;

font-family: Unbounded;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 1.6px;
}

.boton-enviar:hover{
    background: #0140A0;
    color: #EAEAEA;
}

body{
    background-color: #EAEAEA;
}


header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;

}

/* navegador botones*/

.botonera{
    display: flex;
    width: 100%;
    padding: 36px 44px;
    align-items: center;
    gap: 700px;

    border-bottom: 5px solid #000;
}

.conjunto-botones{
    display: flex;
    align-items: center;
    gap: 50px;
}


.botones{
    display: flex;
    height: 58px;
    padding: 18px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 50px;
    border: 5px solid #000;
    background: #EAEAEA;
    box-shadow: -10px 10px 4px 0px rgba(0, 0, 0, 0.25);

    /*tipografía-de-botones-nav*/
    color: #000;
    font-family: "Maven Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.botones:hover{

    background: #0140A0;
    color: #EAEAEA;
}

/*fin de navegador con botones*/

/*footer*/

.footer{
    display: flex;
    width: 100%;
    height: 100px;
    padding: 10px 44px;
    align-items: center;
    gap: 180px;

    border-top: 5px solid #000;
}

.logos-footer{
    display: flex;
    align-items: center;
    gap: 30px;
}


.derechos-reservados{
    width: 785px;
    height: 24px;
    flex-shrink: 0;

    color: #000;
    font-family: "Maven Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*fin del footer*/

/*index-inicio*/

#portada{
    display: flex;
    align-items: center;
    gap: 133px;
}

.presentacion{
    display: flex;
    width: 916px;
    height: 310px;
    justify-content: center;
    align-items: flex-start;
}

h1{
    font-family: "Unbounded", sans-serif;
    font-size: 120px;
    font-weight: 800px;
    line-height: normal;
}

/*sobre-mi-html*/

.sobre-mi{
    display: flex;
    gap: 100px;

}

h2{
    color: #0140A0;
    font-family: "Maven Pro";
    font-size: 50px;
    font-style: normal;
   /* font-weight: 600;*/
    line-height: normal;
}