@charset "utf-8";
    /* CSS Document */

    @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Unbounded:wght@200..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.boton-hablame{
text-decoration: none;
display: flex;
width: 15%;
padding: 12px 72px;
justify-content: center;
flex-shrink: 0;

border-radius: 50px;
border: 5px solid #000;
background: #EAEAEA;
box-shadow: -8px 8px 6px 0px rgba(0, 0, 0, 0.25);


/*tipografia del boton*/
font-family: "Unbounded", sans-serif;
font-size: 24px;
font-weight: 800;
letter-spacing: 1.6px;
}

.boton-hablame:hover{
    background: #0140A0;
    color: #EAEAEA;
}

body{
    background-color: #EAEAEA;
}


header{
    display: flex;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 1px;
    z-index: 60;
    background-color: #EAEAEA;

}

/* navegador botones*/

.botonera{
    display: flex;
    width: 100%;
    padding: 20px 44px;
    align-items: center;
    justify-content: space-between;

    border-bottom: 5px solid #000;
}

.conjunto-botones{
    display: flex;
    gap: 50px;
    list-style: none;
}


.botones{
    display: flex;
    padding: 18px 36px;
    text-decoration: none;

    border-radius: 50px;
    border: 5px solid #000;
    box-shadow: -8px 8px 6px 0px rgba(0, 0, 0, 0.25);

    /*tipografía-de-botones-nav*/
    color: #000;
    font-family: "Maven Pro";
    font-size: 22px;
    font-weight: 600;
}

a:visited{
    color: #000;
}

.botones:hover{

    background: #0140A0;
    color: #EAEAEA;
}

/*fin de navegador con botones*/

/*footer*/

.footer{
    display: flex;
    width: 100%;
    padding: 10px 44px;
    align-items: center;
    justify-content: space-between;

    border-top: 5px solid #000;
}

.logos-footer{
    display: flex;
    align-items: center;
    gap: 30px;
}


.derechos-reservados{
    flex-shrink: 0;

    font-family: "Maven Pro";
    font-size: 20px;
    font-weight: 600;
}
/*fin del footer*/







/*index-inicio*/

#portada{
    display: flex;
    align-items: center;
    gap: 133px;
}

.presentacion{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.columna-video{
    display: flex;
}

h1{
    font-family: "Unbounded", sans-serif;
    font-size: 90px;
    font-weight: 800px;
}










/*SOBRE MI*/


.sobre-mi{
    display: flex;
    gap: 90px;
    padding: 50px;

}
.estrella-perfil{
    position: absolute;
    bottom: 185px;
}

.foto-perfil{
    z-index: 30px;
}


h2{
    color: #0140A0;
    font-family: "Maven Pro";
    font-size: 45px;
    font-style: normal;
   /* font-weight: 600;*/
    line-height: normal;
}


.cualidades{
display: flex;
gap: 80px;
padding: 20px 0px 20px 70px;
}


h4{
    font-family: "Unbounded", sans-serif;
    font-size: 30px;
    font-weight: 800;
}


.habilidades{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.logos{
    display: flex;
    align-items: center;
    gap: 20px;
}

.experiencia{
    font-family: "Maven Pro";
    font-weight: 600;
    font-size: 25px;
    line-height: 45px;
    color: #0140A0;
}

.trabajo{
    padding: 60px 20px 60px 70px;
    display: flex;
}

.texto-trabajos{
    display: flex;
}

.texto-boton{
    gap: 10px;
}

.texto-me-interesa{
    padding: 0px 0px 30px 0px;
}

.columna-estrella{
    display: flex;
}

.texto-me-interesa{
    max-width: 90%;
}


@media screen and (max-width:600px){
    body{
        font-size: 0.75em;
    }

    .sobre-mi{
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }

    .sobre-mi img{
        width: 100%;
        max-width: 371px;
    }
        

    .cualidades{
        flex-direction: column;
        gap: 60px;
        padding: 30px 30px 10px 40px;
    }

    .cualidades div{
        gap: 30px
    }

    .trabajo{
        flex-direction: column;
        padding: 30px;
        gap: 30px;
    }

    


}







/*PROYECTOS*/



.texto-trabajos{
    padding: 80px 75px 80px 70px;
    display: flex;
    flex-direction: column;
}

.texto-ilus{
    display: flex;
    flex-direction: column;
    padding: 60px 30px 10px 70px;
}

h5{
    font-family: "Unbounded", sans-serif;
    font-size: 20px;
    font-weight: 800;
}

h6{
    font-family: "Maven Pro";
    font-weight: 600;
    font-size: 15px;
    color: #0140A0;
}


.imagenes-valance{
    display: flex;
    gap: 50px;
    padding: 50px 20px 30px 70px;
}

.imagenes-che{
    display: flex;
    gap: 50px;
    padding: 50px 20px 30px 70px;
}


.ludopatia{
    display: flex;
    gap: 50px;
    padding: 50px 20px 30px 70px;
}


.container{
    padding: 10px 70px;
    
}

.container-che{
    padding: 10px 70px;
    display: flex;
    flex-direction: row-reverse;
}

.contenido{
    border: 5px solid;
    border-radius: 50px;
    padding: 30px;
    width: 30%;
    box-shadow: -8px 8px 6px 0px rgba(0, 0, 0, 0.25);

}

.grid-container{
    
    width: 50%;
    justify-content: center;
    margin: 30px auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 212px 212px 212px;
    grid-gap: 20px;
}

/* galeria2*/

.boton-galeria{
    display: flex;
    padding: 18px 36px;
    text-decoration: none;

    border-radius: 50px;
    border: 5px solid #000;
    box-shadow: -8px 8px 6px 0px rgba(0, 0, 0, 0.25);

    color: #000;
    font-family: "Maven Pro";
    font-size: 22px;
    font-weight: 600;
}

.boton-galeria:hover{
    background: #0140A0;
    color: #EAEAEA;
}

#galeria{
    display: none;
	width: 100%;
	justify-content: center;
	height: 100vh;
	background-color: #000000;
	position: absolute;
	top: 0;
	z-index: 10;
}

.galeria-oculta{
    display: flex;
	width: 100%;
	max-width: 1450px;
	overflow: hidden;
	z-index: 20
}

.fraccion-galeria{
    display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	min-width: 1450px;
	height: 100vh;
	justify-content: space-between;
}


.fondo-galeria{
    background-color: black;
	opacity: 0.9;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 0;
}



/* IDS CON LAS IMAGENES DE GALERIA */

#coca-rosa{
    background-image: url(img/coca-rosa.jpg);
    display: flex;
    flex-direction: column;
}

#zapatilla{
    background-image: url(img/zapatilla.jpg);
}

#carpa{
    background-image: url(img/carpa.jpg);
}

#encendedor{
    background-image: url(img/encendedor.png);
}

#casita{
    background-image: url(img/casita.jpg);
}

#deku{
    background-image: url(img/deku.jpg);
}







/*CONTACTO*/

h3{
    color: #0140A0;
    font-family:"Maven Pro";
    font-size: 30px;

}

.texto{
    padding: 0px 0px 0px 30px;
    
}

.boton-formulario{
    letter-spacing: 1.6px;
    width: min-content;
    font-family: "Unbounded", sans-serif;
    font-size: 24px;
    font-weight: 800;
    padding: 12px 42px;
}

.boton-formulario:hover{
    background: #0140A0;
    color: #EAEAEA;
}

.columna-boton{
    display: flex;
    width: 100%;
    padding: 0px;
    justify-content: flex-end;
}

/*formulario de contacto*/
form{
    width: 100%;
    display: flex;

}

form div{
    width: 50%;
    height: auto;
    padding: 20px;
}

label{
    display: block;
    font-family:"Unbounded", sans-serif; 
    font-size: 24px;
    font-weight: 800;
    padding: 10px;
}

input{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 50px;
    border: 5px solid #000;
    padding: 10px;
}

textarea{
    border-radius: 50px;
    border: 5px solid;
    width: 100%;
    height: 170px;
    padding: 10px;
}

.columna3{
    display: flex;
    flex-direction: column;
}

p{
    padding: 10px;
    font-family: "Maven Pro";
    font-size: 16px;
}

